.main-content__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-colums {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}
.two-colums__brief {
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 80px;
}
.two-colums__main-text {
  width: 80%;
  min-width: 80%;
}
.two-colums__paragraph {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 24px;
  line-height: 34px;
  font-family: Arial, Helvetica, sans-serif;
}
.two-colums__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.two-colums__paragraph:last-child {
  margin-bottom: 0;
}
